<router-outlet></router-outlet>
<app-header></app-header>
<div class="container">
  <div class="row">
    <h1 class="display-4 mx-auto home-content-margin">Welcome to GeekTrust Problem Solution</h1>
  </div>
  <div class="row">
    <div class="mx-auto home-content-margin">
      <button class="btn btn-dark" (click)="goToVehicles()" type="button">Vehicles</button>
      <button class="btn btn-dark" (click)="goToProblem()" type="button">Let's Solve</button>
      <button class="btn btn-dark" (click)="goToPlanets()" type="button">Planets</button>
    </div>
  </div>
</div>